# Be prepared to override this for some clients
registry=https://registry.npmjs.org/

# Suppress "needs funding" messages
fund=false

# Make sure a release has been out there a while and not compromised
min-release-age=7